$primary: #202020;
$secondary: #121212;
$white: #fff;
$white-text: #D2D2D2;
$black: #000;
$blue: #3137C9;
$red: #ED3024;
$shadow: $blue;

$z-index-sidebar: 1000;
$z-header-sidebar: 1000;

$sidebar-width: 300px;