.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  &__item {
    margin: 0 .5rem;
  }

  &__item-link {
    display: block;
    color: $white;
    font-size: 1.4rem;
    background-color: #0D0D0D;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 4rem;
    text-align: center;

    &:hover {
      background-color: lighten(#0D0D0D, 2%);
    }

    &.active {
      background-color: $blue;
    }
  }
}