.profile {
  &__avatar {
    display: block;
    height: 10rem;
    width: 10rem;
    margin: 0 auto 2rem;
    border: 2px solid $white;
    border-radius: 50%;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    position: relative;
  }

  &__name {
    font-size: 1.8rem;
    text-align: center;
  }

  &__prof {
    margin-bottom: 2rem;

    font-size: 1.4rem;
    text-align: center;
    font-weight: 300;
    color: #DEDEDE;
  }

  &__text {
    padding: 3rem 0;
    margin: 3rem 0;

    font-size: 1.2rem;
    text-align: center;

    border-top: 2px solid #1C1C1C;
    border-bottom: 1px solid #1C1C1C;
  }
}